@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
/* Default dots (circular) */
.custom-slider .slick-dots li button:before {
  font-size: 0; /* hide the default font icon */
  content: "";
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}

/* Active dot (rectangle) */
.custom-slider .slick-dots li.slick-active button:before {
  background-color: #055D59;
  width: 27px;
  height: 10px;
  border-radius: 4px; /* slight rounding, or use 0 for sharp corners */
  content: "";
  font-size: 0;
  display: inline-block;
}

