@import "tailwindcss";
p{
  font-size: small;
}
/* Default dots (circular) */
.custom-slider .slick-dots li button:before {
  font-size: 0; /* hide the default font icon */
  content: "";
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}

/* Active dot (rectangle) */
.custom-slider .slick-dots li.slick-active button:before {
  background-color: #055D59;
  width: 27px;
  height: 10px;
  border-radius: 4px; /* slight rounding, or use 0 for sharp corners */
  content: "";
  font-size: 0;
  display: inline-block;
}

h1,h2,h3,h2{
  color: #141414;
}

